:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;
  --base: #1e1e2e;
  --crust: #11111b;
}

* {
  font-size: 12px;
  color: var(--text);
  font-weight: 600;
  font-family: "Inter", "Meiryo UI", sans-serif;
  margin: 0;
  padding: 0;
}

.language-widget .icon,
.language-menu .language-item .icon,
.power-menu-popup .button .icon,
.power-menu-widget .label,
.media-menu .btn.prev,
.media-menu .btn.next,
.media-menu .btn.play,
.volume-widget .icon,
.notification-widget .icon,
.battery-widget .widget-container .icon,
.weather-widget .icon {
  font-family: "tabler-icons";
}

.home-widget .widget-container {
  padding: 0 7px 0 10px;
}

.yasb-bar {
  padding: 0;
  margin: 0;
  background-color: var(--base);
}

/* global context menu style */
.context-menu,
.context-menu .menu-checkbox {
  background-color: var(--surface0);
  border: none;
  padding: 4px 0px;
  font-family: "Inter";
  font-size: 12px;
  color: var(--text);
}

.context-menu::right-arrow {
  width: 8px;
  height: 8px;
  padding-right: 24px;
}

.context-menu::item,
.context-menu .menu-checkbox {
  background-color: transparent;
  padding: 6px 12px;
  margin: 2px 6px;
  border-radius: 6px;
  min-width: 100px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
  background-color: #41465f;
}

.context-menu::separator {
  height: 1px;
  background-color: var(--surface2);
  margin: 4px 8px;
}

.context-menu::item:disabled {
  color: var(--overlay2);
  background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  margin: 0;
  color: var(--text);
  font-family: "Inter";
}

.context-menu .submenu::item:disabled {
  margin: 0;
  padding-left: 16px;
}

.context-menu .menu-checkbox .checkbox:unchecked {
  color: var(--overlay2);
}

.context-menu .menu-checkbox .checkbox::indicator {
  width: 12px;
  height: 12px;
  margin-left: 0px;
  margin-right: 8px;
}

.context-menu .menu-checkbox .checkbox::indicator:unchecked {
  background: var(--overlay0);
  border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
  background: var(--blue);
  border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox:focus {
  outline: none;
}

.context-menu::item:checked {
  background-color: var(--blue);
  color: white;
}

/* tooltip */
.tooltip {
  background-color: var(--base);
  border: 1px solid var(--surface1);
  border-radius: 4px;
  color: var(--text);
  padding: 4px 8px 5px 8px;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 400;
  margin-top: 4px;
}

/* komorebi workspaces */
.komorebi-workspaces .ws-btn {
  border: none;
  background-color: var(--surface2);
  margin: 0 4px;
  font-size: 0px;
  color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 200ms ease-out;
}

.komorebi-workspaces .ws-btn.populated {
  background-color: var(--blue);
}

.komorebi-workspaces .ws-btn.active {
  color: transparent;
  background-color: var(--blue);
  width: 36px;
  max-width: 36px;
  height: 12px;
}

/* calendar */
.calendar {
  background-color: var(--base);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: var(--subtext0);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.calendar .calendar-table::item:selected {
  color: var(--crust);
  background-color: var(--blue);
  border-radius: 10px;
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
  font-family: "Inter";
  font-size: 16px;
  color: var(--subtext0);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .holiday-label {
  font-size: 12px;
  color: var(--overlay2);
  font-weight: 700;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: var(--text);
  margin-top: -10px;
}

/* common widgets */
.weather-widget,
.language-widget,
.volume-widget,
.battery-widget {
  padding: 0 6px;
}

.weather-widget .icon,
.language-widget .icon,
.volume-widget .icon,
.battery-widget .icon {
  font-size: 20px;
  font-weight: 400;
  margin-right: 4px;
}

.volume-widget .icon {
  margin-top: 1px;
}

.language-widget .icon {
  margin-bottom: 1px;
}

/* weather */
.weather-widget .icon.default,
.weather-widget .icon.sunnyDay {
  color: var(--yellow);
}

.weather-widget .icon.clearNight,
.weather-widget .icon.cloudyDay,
.weather-widget .icon.cloudyNight,
.weather-widget .icon.foggyDay,
.weather-widget .icon.foggyNight {
  color: var(--mauve);
}

.weather-widget .icon.rainyDay,
.weather-widget .icon.rainyNight,
.weather-widget .icon.snowyIcyDay,
.weather-widget .icon.snowyIcyNight,
.weather-widget .icon.blizzardDay,
.weather-widget .icon.blizzardNight,
.weather-widget .icon.thunderstormDay,
.weather-widget .icon.thunderstormNight {
  color: var(--sky);
}

.weather-card {
  background-color: var(--base);
}

.weather-card-today .label {
  color: var(--overlay2);
  font-size: 12px;
}

.weather-card-today .label.location {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
}

.weather-card-today .label.alert {
  font-size: 11px;
  font-weight: 400;
  background-color: rgba(249, 226, 175, 0.1);
  border: 1px solid var(--yellow);
  color: var(--yellow);
  border-radius: 6px;
  padding: 12px;
  margin: 8px 0;
}
.weather-card-day {
  border-radius: 8px;
}

.weather-card-day:hover {
  background-color: rgba(205, 214, 244, 0.1);
}

.weather-card-day.active {
  background-color: rgba(137, 180, 250, 0.15);
  border: 1px solid var(--blue);
}

.weather-card-day.active:hover {
  background-color: rgba(137, 180, 250, 0.25);
}

.weather-card-day .label {
  font-size: 12px;
}

.weather-card .hourly-container {
  background-color: transparent;
  border-radius: 8px;
  min-height: 150px;
}

.weather-card .hourly-data {
  color: var(--subtext1); /* <- Font color */
  background-color: var(--yellow); /* <- Curve color */
  font-size: 12px;
  font-weight: bold;
}

/* language */
.language-widget .icon {
  color: var(--teal);
}

.language-widget .widget-container {
  padding: 0 2px 0 2px;
}

.language-menu {
  background-color: var(--base);
  min-width: 300px;
}

.language-menu .header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
}

.language-menu .footer {
  font-size: 12px;
  font-weight: 500;
  padding: 12px;
  margin-top: 2px;
  color: var(--overlay1);
}

.language-menu .footer:hover {
  color: var(--text);
}

.language-menu .language-item {
  padding: 6px 12px;
  margin: 2px 4px;
  border-radius: 8px;
}

.language-menu .language-item.active {
  background-color: rgba(137, 180, 250, 0.15);
  border: 1px solid var(--blue);
}

.language-menu .language-item:hover {
  background-color: rgba(205, 214, 244, 0.1);
}

.language-menu .language-item.active:hover {
  background-color: rgba(137, 180, 250, 0.25);
}

.language-menu .language-item .code {
  font-weight: 900;
  font-size: 14px;
  min-width: 40px;
  text-transform: uppercase;
}

.language-menu .language-item .icon {
  font-size: 20px;
  margin-right: 8px;
}

.language-menu .language-item .name {
  font-weight: 600;
  font-size: 14px;
}

.language-menu .language-item .layout {
  font-weight: 600;
  font-size: 12px;
}

/* media */
.media-widget {
  margin: 0 6px;
}
.media-menu {
  min-width: 360px;
  max-width: 360px;
  background-color: var(--base);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.media-menu .artist {
  font-size: 13px;
  color: #6c7086;
  margin-top: 0px;
  margin-bottom: 8px;
}

.media-menu .source {
  font-size: 11px;
  color: var(--crust);
  font-weight: normal;
  border-radius: 3px;
  background-color: var(--text);
  padding: 2px 4px;
}

.media-menu .source.firefox {
  background-color: var(--peach);
}

.media-menu .source.spotify {
  background-color: var(--green);
}

.media-menu .source.edge,
.media-menu .source.windows-media {
  background-color: var(--blue);
}

.media-menu .btn {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn:hover {
  background-color: rgba(205, 214, 244, 0.1);
}

.media-menu .btn.play {
  background-color: rgba(205, 214, 244, 0.1);
  font-size: 20px;
}

.media-menu .btn.play:hover {
  background-color: rgba(205, 214, 244, 0.15);
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--subtext0);
  background-color: rgba(205, 214, 244, 0.1);
}

.media-menu .playback-time {
  font-size: 13px;
  color: #7f849c;
  margin-top: 0px;
  min-width: 100px;
}

.media-menu .progress-slider {
  height: 20px;
  margin: 0 4px 5px 4px;
  border-radius: 3px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
  background: var(--blue);
  border-radius: 3px;
  height: 4px;
}

/* volume */
.volume-widget .widget-container {
  padding: 0 2px 0 2px;
}

.volume-widget .icon {
  color: var(--sapphire);
}

.volume-slider {
  border: none;
}

.audio-menu {
  background-color: var(--base);
}

.audio-container .device {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: rgba(137, 180, 250, 0.15);
  border-color: var(--blue);
}

.audio-container .device:hover {
  background-color: rgba(205, 214, 244, 0.1);
}

.audio-container .device.selected:hover {
  background-color: rgba(137, 180, 250, 0.25);
}

/* battery */
.battery-widget .widget-container .icon.status-low {
  color: var(--maroon);
}

.battery-widget .widget-container .icon.status-medium,
.battery-widget .widget-container .icon.status-high,
.battery-widget .widget-container .icon.status-full,
.battery-widget .widget-container .icon.status-charging {
  color: var(--green);
}

/* power menu */
.power-menu-widget .widget-container {
  padding: 0 10px 0 0;
}

.power-menu-widget .label {
  color: var(--red);
  font-size: 18px;
  margin-top: 1px;
  margin-left: 6px;
}

.power-menu-popup {
  background-color: transparent;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 0;
  background-color: var(--base);
  color: var(--text);
  border-left: 4px solid transparent;
  border-right: 4px solid rgba(58, 83, 80, 0);
  border-top: 4px solid rgba(58, 83, 80, 0);
  border-bottom: 4px solid rgba(58, 83, 80, 0);
  margin: 0px;
}

.power-menu-popup .button.hover {
  border-left: 4px solid var(--blue);
  border-right: 4px solid var(--blue);
  border-top: 4px solid var(--blue);
  border-bottom: 4px solid var(--blue);
}
.power-menu-popup .button.cancel.hover {
  border-left: 4px solid var(--red);
  border-right: 4px solid var(--red);
  border-top: 4px solid var(--red);
  border-bottom: 4px solid var(--red);
}
.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}
.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--text);
}
.power-menu-popup .button.cancel .icon,
.power-menu-popup .button.cancel .label {
  color: var(--red);
}
